/* -------------------------CSS RESET---------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: auto;
  /* border: 1px solid black; */
  font-family: "Alegreya Sans", sans-serif;
  /* background-image: #00b09b;  fallback for old browsers */
  /* background-image: -webkit-linear-gradient(to left, #96c93d, #00b09b);  Chrome 10-25, Safari 5.1-6 */
  /* background-image: linear-gradient(to left, #96c93d, #00b09b); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  position: relative;
}
.sec {
  /* height: 100vh; */
  border: 1px solid black;
}
.border {
  border: 1px solid black;
}
/* -----------------------------SECTION-1-START------------------------------- */
#sec-1 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 3rem 3rem auto;
}
#sec-1 .topbar {
  background-color: #3d5f00;
}
#sec-1 .navbar {
  display: grid;
  grid-template-columns: repeat(6, 6rem);
  place-content: center;
}
#sec-1 a {
  place-self: center;
  font-size: 20px;
  color: #3d5f00;
  font-weight: 500;
}
#sec-1 .main {
  position: relative;
  width: 100%;
}
#sec-1 img {
  max-width: 100%;
  max-height: 100%;
  background-color: red;
  background-blend-mode: color;
}
@media only screen and (min-width: 1024px) {
  #sec-1 img {
    min-width: 100%;
    min-height: 100%;
  }
}
#sec-1 .sec-1-text {
  position: absolute;
  top: 4rem;
  left: 1.5rem;
  padding: 1.5rem;
  width: 50%;
  display: grid;
  grid-template-rows: 3rem 5rem 3rem 5rem 4rem;
  /* border: 1px solid black; */
}
#sec-1 .p1-1 {
  font-size: 67px;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 18rem;
  color: #3d5f00;
  font-weight: 800;
  /* font-family: "Alegreya Sans";   */
}
#sec-1 .p1-2 {
  font-size: 54px;
  line-height: 19rem;
  letter-spacing: 0px;
  color: #3d5f00;
  font-weight: 500;
  font-family: "Alegreya Sans";
  text-decoration: underline 0.1rem;
  text-underline-offset: 1rem;
}
#sec-1 .p1-3 {
  font-size: 21px;
  margin-top: 8rem;
  letter-spacing: 0px;
  color: #3d5f00;
  font-weight: 400;
  width: 80%;
}
#sec-1 .btn-1 {
  height: 58px;
  color: white;
  font-size: 1rem;
  margin-top: 9rem;
  background-color: #3d5f00;
  width: 28%;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
/* -----------------------------SECTION-1-END------------------------------- */

/* -----------------------------SECTION-2-START------------------------------- */
#sec-2 {
  height: 140vh;
  display: grid;
  grid-template-rows: 30% auto;
}
#sec-2 .about-1 {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  position: relative;
}
#sec-2 .p2-1 {
  opacity: 0.149;
  font-size: 100px;
  margin: auto;
  color: #3d5f00;
  font-weight: 700;
  font-family: "Roboto";
}
#sec-2 .p2-2 {
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 50px;
  color: #3d5f00;
  font-weight: 700;
  font-family: "Roboto";
}
#sec-2 .p2-3 {
  margin: 0 auto;
  font-size: 25px;
  color: #3d5f00;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  width: 60%;
}
#sec-2 .about-2 {
  display: grid;
  padding: 2rem 8rem;
  gap: 1rem 3rem;
  grid-template-columns: auto auto;
}
/* -----------------------------SECTION-2-END------------------------------- */
/* -----------------------------SECTION-3-START------------------------------- */
#sec-3 {
  height: 150vh;
  display: grid;
  grid-template-rows: 30% auto;
}
#sec-3 .service-1 {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  position: relative;
}
#sec-3 .p3-1 {
  opacity: 0.149;
  font-size: 100px;
  margin: auto;
  color: #3d5f00;
  font-weight: 700;
  font-family: "Roboto";
}
#sec-3 .p3-2 {
  position: absolute;
  top: 20%;
  left: 41.5%;
  font-size: 50px;
  color: #3d5f00;
  font-weight: 700;
  font-family: "Roboto";
}
#sec-3 .p3-3 {
  margin: 0 auto;
  font-size: 25px;
  color: #3d5f00;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  width: 60%;
}
/* -----------------------------SECTION-3-END------------------------------- */
/* -----------------------------SECTION-4-START------------------------------- */
#sec-4 {
  position: relative;
  display: grid;
  width: 100%;
}
#sec-4 img {
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (min-width: 1446px) {
  #sec-4 img {
    min-width: 100%;
    min-height: 100%;
  }
}
#sec-4 .sec-4-text {
  top: 4rem;
  left: 1.5rem;
  padding: 1.5rem;
  width: 50%;
  display: grid;
  grid-template-rows: 3rem 5rem 3rem 5rem 3.5rem;
  /* border: 1px solid white; */
  position: absolute;
}
#sec-4 .p4-1 {
  font-size: 33px;
  color: #3d5f00;
  font-weight: 500;
}
#sec-4 .p4-2 {
  font-size: 58px;
  color: #3d5f00;
  font-weight: 700;
}
#sec-4 .p4-3 {
  font-size: 33px;
  letter-spacing: 14px;
  color: #3d5f00;
  font-weight: 500;
}
#sec-4 .p4-4 {
  width: 80%;
  font-size: 25px;
  color: #3d5f00;
  font-weight: 400;
}
#sec-4 .btn-4 {
  width: 28%;
  color: white;
  font-size: 1rem;
  height: 58px;
  background-color: #3d5f00;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
/* -----------------------------SECTION-4-END------------------------------- */
/* -----------------------------SECTION-5-START------------------------------- */
#sec-5 {
  height: 100vh;
  display: grid;
  grid-template-rows: 40% auto;
}
#sec-5 .pricing-1 {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  position: relative;
}
#sec-5 .p5-1 {
  opacity: 0.149;
  font-size: 100px;
  margin: auto;
  color: #3d5f00;
  font-weight: 700;
  font-family: "Roboto";
}
#sec-5 .p5-2 {
  position: absolute;
  top: 19.5%;
  left: 41.5%;
  font-size: 50px;
  color: #3d5f00;
  font-weight: 700;
  font-family: "Roboto";
}
#sec-5 .p5-3 {
  margin: 0 auto;
  font-size: 25px;
  color: #3d5f00;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  width: 60%;
}
#sec-5 .pricing-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  position: relative;
  padding: 2rem 5rem;
  gap: 2rem 5rem;
}
.pr-1 {
display: grid;
grid-template-rows: 35% 65%;
}
.pr-2 {
  display: grid;
  grid-template-rows: 35% 65%;
}
.pr-3 {
  display: grid;
  grid-template-rows: 35% 65%;
}
.basic-1{
  background-color:#3d5f00;
  color: #f1f1f1;
}
.standard-1{
  background-color:#3d5f00;
  color: #f1f1f1;
}
.premium-1{
  background-color:#3d5f00;
  color: #f1f1f1;
}
.basic-2{
  background-color: #f1f1f1;
}
.standard-2{
  background-color: #f1f1f1;
}
.premium-2{
  background-color: #f1f1f1;
}
/* -----------------------------SECTION-5-END------------------------------- */
/* -----------------------------SECTION-6-START------------------------------- */
#sec-6 {
  position: relative;
  display: grid;
  width: 100%;
}
#sec-6 img {
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (min-width: 1446px) {
  #sec-6 img {
    min-width: 100%;
    min-height: 100%;
  }
}
#sec-6 .sec-6-text {
  position: absolute;
  top: 3.5rem;
  left: 45%;
  padding: 0.5rem;
  width: 54.5%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3rem 5rem 3rem 5rem 3.5rem;
  /* border: 1px solid black; */
}
#sec-6 .p6-1 {
  font-size: 33px;
  color: #3d5f00;
  font-weight: 500;
}
#sec-6 .p6-2 {
  font-size: 58px;
  color: #3d5f00;
  font-weight: 700;
}
#sec-6 .p6-3 {
  font-size: 33px;
  letter-spacing: 14px;
  color: #3d5f00;
  font-weight: 500;
}
#sec-6 .p6-4 {
  width: 80%;
  font-size: 25px;
  color: #3d5f00;
  font-weight: 400;
}
#sec-6 .btn-6 {
  width: 23%;
  color: white;
  font-size: 1rem;
  height: 58px;
  background-color: #3d5f00;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
/* -----------------------------SECTION-6-END------------------------------- */
/* -----------------------------SECTION-7-START------------------------------- */
#sec-7 {
  height: 100vh;
  display: grid;
  grid-template-rows: 35% 65%;
}
#sec-7 .blog-1 {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  position: relative;
}
#sec-7 .p7-1 {
  opacity: 0.149;
  font-size: 100px;
  margin: auto;
  color: #3d5f00;
  font-weight: 700;
  font-family: "Roboto";
}
#sec-7 .p7-2 {
  position: absolute;
  top: 18.5%;
  left: 44.5%;
  font-size: 50px;
  color: #3d5f00;
  font-weight: 700;
  font-family: "Roboto";
}
#sec-7 .p7-3 {
  margin: 0 auto;
  font-size: 25px;
  color: #3d5f00;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  width: 60%;
}

#sec-7 .blog-2 {
  display: grid;
  padding: 2rem;
  gap: 0px 2rem;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 0.8fr 1fr;
}
#sec-7 .b2-1 {
  border-radius: 2rem;
  background-image: url(/img/p-7.png);
  max-width: 100%;
  max-height: 100%;
  background-position: top;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.283);
  transition: all 0.5s ease-in-out;
}
#sec-7 .b2-1:hover {
  background-blend-mode: darken;
  background-position: center;
}
#sec-7 .b2-3 {
  max-width: 100%;
  max-height: 100%;
  background-image: url(/img/p-8.png);
  border-radius: 2rem;
  background-position: top;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.283);
  transition: all 0.5s ease-in-out;
}
#sec-7 .b2-3:hover {
  background-blend-mode: darken;
  background-position: center;
}
#sec-7 .b2-2 {
  border-radius: 2rem;
  padding: 1rem;
  background-color: #f1f1f1;
}
#sec-7 .b2-p7-1 {
  font-size: 33px;
  margin-top: 1.2rem;
  color: #3d5f00;
  font-weight: 900;
  font-family: "Roboto";
  text-align: justify;
}
#sec-7 .b2-p7-2 {
  font-size: 20px;
  text-align: jusify;
  margin-top: 1rem;
  color: #3d5f00;
  font-weight: 200;
  font-family: "Roboto";
}
#sec-7 .btn-7 {
  width: 40%;
  height: 45px;
  margin: 0rem auto;
  margin-top: 1rem;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  background-color: #3d5f00;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* -----------------------------SECTION-7-END------------------------------- */
/* -----------------------------SECTION-8-START------------------------------- */
#sec-8 {
  height: 40vh;
  display: grid;
  grid-template-rows: auto;
}
/* -----------------------------SECTION-8-END------------------------------- */
